
<section
class="container-fluid section section3 section1 row space-between my-5 py-5 cwsection"
style="height: auto !important; background: #ffff" id="aboutme"
>
<div
  class="container d-flex justify-content-center porfoliodiv cwsection tesdiv"
>
  <div class="pbox">
    <label for="" class="dot"></label>
    <label for="" style="height: 30px">About me</label>
  </div>
  <div class="rowdiv">
    <div class="profile">
      <img src="/static/media/img6.jpg" alt="" />
    </div>
    <div class="aboutme">
      <h2>Anser Ali</h2>
      <small>Web Developer</small>
      <p>
        I'm a Web developer, working in web development industry for
        over 3 years. I'm dedicated to developing & optimizing
        interactive, user-friendly, and feature rich websites and
        applications. I'm also proficient in troubleshooting complex
        issues, and implementing new features. If you are a business
        seeking a web presence or an employer looking to hire, feel free
        to get in touch.
      </p>
      <h6>Expertise:</h6>
      <span> Frontend Web Development</span><br />
      <h6>Experience:</h6>
      <span> 3 Years</span><br />
      <h6>E-mail:</h6>
      <span> ansranser@gmail.com</span>
    </div>
    <div class="mysocials">
      <a href="">
        <img src="/static/media/twitter_white.svg" alt="" class="simg1"
      /></a>
      <a href="">
        <img
          src="/static/media/linkedin_white.svg"
          alt=""
          class="simg2"
      /></a>
      <a href="">
        <img src="/static/media/github_4.svg" alt="" class="simg3"
      /></a>
    </div>
  </div>
</div>
</section>