<section
        class="container-fluid section1 row grid section2 m-0"
        style="background: #f7f8fd; height: auto !important" id="blog"
      >
        <div
          class="container d-flex justify-content-center porfoliodiv cwsection tesdiv"
          style="height: auto"
        >
          <div class="bulb">
            <img src="/static/media/typing_2.png" alt="" />
          </div>
          <div class="pbox">
            <label for="" class="dot"></label>
            <label for="" style="height: 30px">Blog & Article</label>
          </div>
          <h1 id="pboxh">Recent <span>blog</span> post</h1>
          <div class="container blogarea">
            <div class="leftblog">
              <img src="/static/media/masterweb.jpg" alt="" class="lbimg" />
              <label for="">WEB DEVELOPMENT</label>
              <h2>
                Master Web Development with Building Projects - The Top-Rated
                Learning Method
              </h2>
              <p>
                Are you ready to take your web development skills to the next
                level? If so, Building Projects is the perfect learning method
                for you.
              </p>
            </div>
            <div class="rightblog">
              <img src="/static/media/webcoding.jpg" alt="" class="rbimg" />
              <label for="">WEB DEVELOPMENT</label>
              <h2>
                Master Web Development with Building Projects - The Top-Rated
                Learning Method
              </h2>
              <p>
                Are you ready to take your web development skills to the next
                level? If so, Building Projects is the perfect learning method
                for you.
              </p>
            </div>
          </div>
          <div class="blogbtn">
            <input
              type="button"
              value="View All Blogs"
              class="btn-main workbtn"
            />
          </div>
        </div>
      </section>