<section
        class="container-fluid section section3 section1 row space-between m-0 py-50 cwsection"
        style="height: auto !important; background: white" id="portfolio"
      >
        <div
          class="container d-flex justify-content-center porfoliodiv cwsection"
        >
          <div class="bulb">
            <img src="/static/media/bulb.png" alt="" />
          </div>
          <div class="pbox">
            <label for="" class="dot"></label>
            <label for="" style="height: 30px">Portfolio</label>
          </div>
          <h1 id="pboxh"><span>Creative</span> Work</h1>
          <div class="container-fluid text-center cwsection">
            <div class="row cworkimg">
              <img src="/static/media/image1.png" alt="" class="col" />
              <img src="/static/media/image2.png" alt="" class="col" />

              <img src="/static/media/image3.png" alt="" class="col" />
              <img src="/static/media/image4.png" alt="" class="col" />
            </div>
            <div class="allworkbtn container">
              <input
                type="button"
                value="View All Work"
                class="btn-main workbtn alwbtn"
              />
            </div>
          </div>
        </div>
      </section>