<section
        class="container-fluid section1 row grid section2 m-0 p-20"
        style="height: 650px" id="skills"
      >
        <img src="/static/media/bucket.png" alt="" class="bucket" />
        <div class="">
          <div class="container d-flex justify-content-center skillbox">
            <div class="dbox">
              <label for="" class="dot"></label>
              <label for="" style="height: 30px">I'm Expert In</label>
            </div>
            <h1>Skills</h1>
            <label for="" id="des"
              >I have been working in web development industry for over
              <label for="">3 years</label>.</label
            >
            <div class="skillsarea container wrap row">
              <img src="/static/media/html.svg" alt="" class="col-4" />
              <img src="/static/media/css3.svg" alt="" class="col-4" />
              <img src="/static/media/javascript.svg" alt="" class="col-4" />
              <img src="/static/media/reactjs.svg" alt="" class="col-4" />
              <img src="/static/media/firebase.svg" alt="" class="col-4" />
              <img src="/static/media/git.svg" alt="" class="col-4" />
            </div>
          </div>
        </div>
      </section>