<section
        class="container-fluid section section3 section1 row space-between m-0 p-0 cwsection"
        style="height: auto !important; background: #f7f8fd"
      >
        <div
          class="container d-flex justify-content-center porfoliodiv cwsection tesdiv"
        >
          <div class="bulb">
            <img src="/static/media/typing.png" alt="" />
          </div>
          <div class="pbox">
            <label for="" class="dot"></label>
            <label for="" style="height: 30px">Testimonial</label>
          </div>
          <h1 id="pboxh"><span>Happy</span> Clients Says</h1>
          <div class="containertes">
            <div class="card">
              <div class="image">
                <img src="/static/media/img1.jpg" alt="" />
              </div>
              <h2>Techy Explorers</h2>
              <p>
                Anser is an Skilled developer.I enjoyed working with him and I
                would be very happy to work with him again.
              </p>
            </div>

            <div class="card">
              <div class="image">
                <img src="/static/media/img3.jpg" alt="" />
              </div>
              <h2>Yusuf Hassan</h2>
              <p>
                Anser is capable, supportive and hard working developer. He
                explained his process and completed work efficiently.
              </p>
            </div>
            <div class="card">
              <div class="image">
                <img src="/static/media/img5.jpg" alt="" />
              </div>
              <h2>Karen Tutor</h2>
              <p>
                Freelancer did beautiful design work. quickly, accurately and
                with great quality code.I highly recommend him and hope to work
                with him.
              </p>
            </div>
            <div class="card">
              <div class="image">
                <img src="/static/media/img2.jpg" alt="" />
              </div>
              <h2>Yaniv Aviran</h2>
              <p>
                Anser is a great developer and an awesome person. Delivered more
                than I asked for. Highly recommended.
              </p>
            </div>
          </div>
          <div class="balldiv">
            <img src="/static/media/ball_1.png" alt="" class="ball" />
          </div>
        </div>
      </section>